@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --primary-color: #9aaba9;
    --second-color: #b9c5c4;
    --thirty-color: #c4e1dc;
    --fourt-color: #f0f6f5;
    --fifth-color: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fourt-color);
}

ol {
    list-style: none;
}

body {
    padding-inline: 64px;
}

header {
    padding-top: 64px;
    height: 100vh;
    border-bottom: solid 3px #8b9a99;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

header h3 {
    font-size: 16px;
    color: var(--primary-color);
    border-bottom: solid 3px #8b9a99;
    height: 48px;
}

header .container-header .left {
    width: 50%;
}

header .container-header .right {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
    padding-top: 10px;
}

header .container-header .right .foto {
    height: 300px;
    width: 300px;
}

header .container-header .right .foto img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

header .container-header h1 {
    font-size: 48px;
    padding-top: 20px;
    color: #7c8988;
}

header .container-header .left span {
    font-size: medium;
    color: var(--second-color);
    font-weight: 400;
}

.container-header .left .desc {
    padding-top: 24px;
    width: 70%;
}

.stacks-habilidades .section-stack-header h2 {
    color: var(--primary-color);
    height: 36px;
    margin-top: 50px;
    border-bottom: 3px solid var(--primary-color);
    width: 200px;
    border-radius: 4px;
}

.stacks-habilidades .container-galeria {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 5vw);
    grid-row-gap: 100px;
}

.stacks-habilidades .container-galeria .stack {
    display: flex;
    gap: 20px;
}

.stacks-habilidades .container-galeria .stack img {
    width: 88px;
    border: outset 3px #7c89887e;
}

.stacks-habilidadesc .container-galeria h2 {
    font-
}

.stacks-habilidades .container-galeria .stack .desc ul {
    margin-left: 20px;
}