@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --primary-color: #9aaba9;
    --second-color: #b9c5c4;
    --thirty-color: #c4e1dc;
    --fourt-color: #f0f6f5;
    --fifth-color: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fourt-color);
}

ol {
    list-style: none;
}

body {
    padding-inline: 64px;
}

header {
    padding-top: 64px;
    height: 100vh;
    border-bottom: solid 3px #8b9a99;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

header h3 {
    font-size: 16px;
    color: var(--primary-color);
    border-bottom: solid 3px #8b9a99;
    height: 48px;
}

header .container-header .left {
    width: 50%;
}

header .container-header .right {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
    padding-top: 10px;
}

header .container-header .right .foto {
    height: 300px;
    width: 300px;
}

header .container-header .right .foto img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

header .container-header h1 {
    font-size: 48px;
    padding-top: 20px;
    color: #7c8988;
}

header .container-header .left span {
    font-size: medium;
    color: var(--second-color);
    font-weight: 400;
}

.container-header .left .desc {
    padding-top: 24px;
    width: 70%;
}

.stacks-habilidades {
    border-bottom: solid 3px #6b7574;
    height: 500px;
}

.stacks-habilidades .section-stack-header h2 {
    color: var(--primary-color);
    height: 36px;
    margin-top: 50px;
    border-bottom: 3px solid var(--primary-color);
    width: 200px;
    border-radius: 4px;
}

.stacks-habilidades .container-galeria {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 5vw);
    grid-row-gap: 128px;
    column-gap: 48px;
}

.stacks-habilidades .container-galeria .stack {
    display: flex;
    align-items: start;
    gap: 20px;
}

.stacks-habilidades .container-galeria .stack .foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stacks-habilidades .container-galeria .stack img {
    width: 88px;
    color: #7c8988;
    border: inset 3px #7c89887e;
    background-color: #f6f6f689;
}

.stacks-habilidades .container-galeria .stack .desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stacks-habilidades .container-galeria .stack .desc h2 {
    font-size: 18px;
    color: #6b7574;
}

.stacks-habilidades .container-galeria .stack .desc ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: #9aaba9;
    gap: 5px;
}

.stacks-habilidades .container-galeria .stack .desc li {
    font-size: 14px;
}

.section-projetos-header h2 {
    color: var(--primary-color);
    height: 36px;
    margin-top: 50px;
    border-bottom: 3px solid var(--primary-color);
    width: 200px;
    border-radius: 4px;
}

.projetos {
    border-bottom: solid 3px #6b7574;
    height: 85 0px;
}

.projetos .main-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 40px;
    gap: 10px;
}

.projetos .main-projetos .projeto img {
    width: 500px;
    height: 400px;
    border-radius: 12px;
}

.projetos .main-projetos .projeto img:hover {
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    opacity: 100%;
    transform: scale(1.02);
}

.projetos .main-projetos .projeto button {
    width: 400px;
    height: 40px;
}

.projetos .main-projetos .projeto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.projetos .main-projetos .projeto p {
    width: 400px;
}